# Node
node_modules/
.npm/

# Amplify
.amplify/
amplify_outputs.json
amplify_outputs.*.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplifyconfiguration.ts
config.js

# Env
.env*
!.env.example

.claude/
.vscode/
.idea/
